.vscode/**
.vscode-test/**
src/**
src/webview-src/**
build-webview.mjs
media/chat-style.css
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/**/*.test.js
out/webview-src/**
